


body {
  padding-top:70px;
}

.mainDiv {
  position: fixed;left:80px;right:80px;top:120px;bottom:80px;
background: #fff;border:1px solid #e7e7e7;
    background-color: #f8f8f8;
}


span.blink {
    -webkit-animation: hue 0.7s infinite linear;
color:red;}



@-webkit-keyframes hue {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.leftD {
position: fixed;left:0;top:50px;bottom:0;width:280px;
border-right:1px solid rgba(0,0,0,0.1);
background: #fff;
transition: all 0.8s ease;
}



.leftD .glyphicon {display:block;padding:10px;cursor: pointer}

.leftD.circle {
  left:4vh;top:90vh;height: 8vh;width:8vh;
  background: red;border-radius: 4vh;cursor: pointer;
}

.inner {
  padding:20px 8px;
}

.leftD.circle .inner {
  display: none;
  transition: all 0.8s ease;
  padding:10px;
}


.form-control , .btn {
  border-radius: 0;
}


.rightD {
position: fixed;left:0;top:50px;bottom:0;right:0px;
background:#f8f8f8;padding:0;padding-left:280px;
transition: all 0.8s ease;
}

.leftD + .rightD {
  padding-left:280px;
  transition: all 0.8s ease;
}


.abtable {  width:100%;-webkit-user-select:none}
.abtable tr td {  border:1px solid grey;height: 30px;cursor:pointer;padding:3px 6px;border-color: #BDBDBD}
.abtable tr:hover {  background: #EEEEEE}
.abtable tr.current {  background: #E3F2FD}
.abtable tr th {  border:1px solid grey;height: 30px;background: #fff;text-align: center}




















input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
    display: none;
}
