@font-face {
  font-family: 'digital-7';
  font-style: Normal;
  font-weight: 400;
  src: local('digital-7'), url('../fonts/digital-7.ttf') format('truetype');
}

html, body {
  height: 100%;
  background-color: #fff;
}
body{padding-top: 40px;}
* {-webkit-user-select:none;}
#a , #b {height:100vh}
#results {height:calc(100vh - 100px);overflow-y: auto;padding:0px;padding: 5px;}
#tbl {width:100%;}
#tbl tr {height:18px;}
#tbl tr th {background-color: #81D4FA;border:1px solid #4FC3F7;padding:5px;text-align: center;}
#tbl tr td {height:28px;padding: 5px;background: #E1F5FE;cursor:pointer;
border-top: 1px solid rgba(0,0,0,0.1);
}
#tbl tr:hover td {background: #B3E5FC}
#res {border: 1px solid #B3E5FC}
.form-control{border-radius: 0;height: 28px;padding: 3px 12px;}
.form-control.half{width:50%}
.form-control:focus{border-color: #757575;box-shadow: none;}

.search {padding: 5px;}
.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter {
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}








.pricefield {
  display: block;
  height:60px;
  background: #9C27B0;
  text-align: right;
  font-size: 56px;line-height: 60px;color:#fff;
  font-family: 'digital-7';
  padding-right: 15px;
}




.elem {display: block;background-color: #F5F5F5;height:40px;
border: 1px solid ;border-color: #FAFAFA #FAFAFA #EEEEEE #EEEEEE;
}

#sales {width:100%;margin-bottom:50px;}
#sales tr {height:30px;cursor:pointer;}
#sales tr td {background:#F5F5F5;border: 1px solid ;border-color: #FAFAFA #FAFAFA #EEEEEE #EEEEEE;height:40px;margin:0}
#sales tr.curr td  {background:#EEEEEE;}

.split {position: relative;}
.split .control {position:absolute;bottom:0;left:0;right:0;height:60px;padding:5px 20px;}






.printers {
display: block;padding:0;
}
.printers .pr {float:left;width:33.333333%;background-color: #C6FF00;height:70px;border:1px solid;
border-color: #EEFF41 #EEFF41 #AEEA00 #AEEA00 ;text-align: center;font-size: 35px;line-height: 70px;padding:0;
cursor: pointer;position: relative;
}

.printers .pr span {position:absolute;bottom:0;left:0;font-size: 10px;line-height:10px;}
.printers .pr.first {width:100%}
.printers .pr:hover ,.printers .pr.current {
  background-color: #AEEA00;
}
