

body{
  background: #ECEFF1;
}


.boxes {display: block;height:140px;margin-top:calc(50vh - 20px );padding:0;text-align: center;}
.boxes .box {margin:0 20px;width:140px;height:140px;
border:1px solid #607D8B;display: inline-block;float: center;
line-height: 140px;font-size: 22px;color: #37474F;cursor: pointer;position:relative
}
.boxes .box  {background-color: #CFD8DC}
.boxes .box:hover {background-color: #B0BEC5}
.boxes .box input {position:absolute;bottom:-50px;}

.logofield {position:fixed;top:0px;left:0px;right:0;}
