
* { -webkit-user-select:none;}
body {padding-top:40px;}
.control{
  padding:5px;
}
.maintable {
display:block;
height:calc(100vh - 130px);
overflow-y: auto;

padding:5px;

}

.tbl {width: 100%;}
.tbl tr {cursor: pointer;}
.tbl tr:hover {background: #F5F5F5;}
.tbl tr.curr {background: #E3F2FD;}

.tbl tr td , .tbl tr th {border:1px solid #E0E0E0;height:28px;padding:3px 8px;line-height: 22px}
.tbl tr th {background: #EEEEEE}
.form-control{border-radius: 0;height: 28px;padding: 3px 12px;}
.form-control.half{width:50%}
.form-control:focus{border-color: #757575;box-shadow: none;}

.tblform {width:100%;}
.tblform tr td  {padding:3px;}








.formbuttons {
  position: fixed;bottom:0;left:0;right:0;
  height:50px;padding:5px 15px;
}
