
body {background: #FFEBEE;overflow-x: hidden;padding-top: 80px;}
.box {display: block;background: #fff;padding: 15px;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
margin-bottom: 10px;
}
#reportrange {font-size: 30px;cursor:pointer;min-height:50px;}

#recette {font-size: 38px;text-align: right}
.fullh {height:calc(100vh - 200px);overflow-y: auto;}
