
@font-face {
  font-family: 'Play-Regular';
  font-style: Normal;
  font-weight: 400;
  src: local('Play-Regular'), url('assets/fonts/play/Play-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Play-Bold';
  font-style: Bold;
  font-weight: 400;
  src: local('Play-Bold'), url('assets/fonts/play/Play-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
   font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('assets/fonts/roboto/Roboto-Regular.ttf') ;
}


body {
font-family:'Roboto',Arial,sans-serif;
padding-top : 0;
background-color: #E4E4E4;
background-color: #E9EAED;

font-weight:normal;
}

* {
outline:none !important;
border-radius:0 !important;
}

h0 {
  display:block;padding:30px 10px 5px 10px;background-color: #1717FF;color:#fff;font-size: 18px;font-weight:bold;height:60px;
transition: all 0.8s ease;
}

h0.div {height:35px;padding:5px 10px 5px 10px;}
h0 i {margin-right:10px;cursor: pointer;}
h0.red {background-color: #FF1744}
h0.redb {background-color: #FF1744}
h0.pink {background-color: #F50057}
h0.purple {background-color: #D500F9}
h0.blue {background-color: #1565C0}
h0.teal {background-color: #1DE9B6;color:#000;}
h0.green {background-color: #76FF03;color:#000;}
h0.lime {background-color: #C6FF00;color:#000;}
h0.yellow {background-color: #FFEA00;color:#000;}
h0.orange {background-color: #EEA135;color:#000;}
h0.ret {background-color: #DB5451;color:#fff;}
h0.fv , h0.fv a {background-color: #9C27B0;color:#fff;}



h0.afs { height:35px;line-height: 35px;padding:0 15px;transition: all 1.8s ease !important;}


*.redClass {color: #FF1744}
.btn-primary {background-color:#1717FF;border-color:#1717FF;}


.navbar-default {
  background: rgba(0, 0, 0, 0.5);
  border:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.navbar-default .navbar-nav > li > a {
  /*color: #777777;*/
  color:#fff;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: rgba(255, 255, 255, 0.5);
}















.navbar-default .navbar-brand, .navbar-brand {
  float: left;
   font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
    color:#FFEB3B;
}







table.clist{
  width:100%;
  margin-top:15px;
}

table.clist tr{
  border:1px solid #ccc;
  margin:0 0 -1px 0;
  cursor: pointer;
}
table.clist tr td {
  padding:6px 7px;
  font-family: Helvetica, Arial, Sans-Serif;
font-size:14px;}

table.clist tr:hover {
  background-color:#DFF0D8;
}



.jumbotrontop {
  padding: 40px 30px 15px 30px;
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: 200;
  font:bold 18px tahoma;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #FFFFFF;


    border-radius: 6px 6px 0 0;
	border : 1px solid #e0e0e0;
border-bottom:1px solid #EEEEEE;

  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#EEEEEE));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #EEEEEE, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #EEEEEE 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border : 1px solid #B9B9B9;

  }



  /*.jumbotrontop.inverse {
 text-shadow: 0 1px 0 #000;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#EEEEEE));
  background-image: -webkit-linear-gradient(top, #606060, 0%, #1E1E1E, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #EEEEEE 100%);
  background-image: linear-gradient(to bottom, #606060 0%, #1E1E1E 100%);
  background-repeat: repeat-x;
  border : 1px solid #111111;
  color:white;
  }
 .jumbotrontop.inverse .price {color:#FFFFFF;
  text-shadow: 0 0 8px rgba(102, 175, 233, 0.8);}*/
.info {
  font:normal 22px 'Play-Regular';
  line-height: 24px;text-transform: uppercase;
  text-shadow:none!important;
}
.infobar {
display:block;
padding:0px;
margin: -3px 0 12px 0;
font:normal 18px 'Play-Regular';
height:40px;

  position: relative;
  height: 44px;
    background-color: #fff;
}

.infobar ul {
  display: block;
  height: 44px;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
  line-height: 44px;
  font-weight: 500;
}

.infobar ul > li{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#232323;
}

.infobar.blue{border:1px solid #89C1DA;
background-color:#BDDDEA;}
.infobar.red{
border:1px solid #C48213;
background-color:#EBA631;
text-shadow:1px 1px #F3C983;

}
@-webkit-keyframes redPulse {
  from { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -webkit-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
}

@-moz-keyframes redPulse {
  from { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -moz-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
}

@keyframes redPulse {
  from { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
}

.infobar strong {display:inline;}
.jumbotronmid {
  padding: 15px 30px;
  margin-top: 0px;
  font:normal 14px tahoma;
  color: inherit;
  background-color: #FDFDFD;
  border : 1px solid #B9B9B9;
  border-top:none;
      border-radius:  0 0 6px 6px;
min-height:500px;
background-color: rgba(255,255,255,0.9);
}
.jumbotronmid  , .jumbotrontop {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.jumbotrontop h1 {
  line-height: 1;
  color: inherit;
  font-family:'Roboto Regular',sans-serif;
text-shadow : 0 -2px #FFFFFF;
}

.jumbotronmid p {
  line-height: 1.4;
}




  .img-rounded {
  width:100px;
  height:100px;
  border-radius:50px;
 /* border:3px solid #BBBBBB;
  	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);*/
  }

  ::-webkit-scrollbar {width: 12px; height:8px; }
::-webkit-scrollbar-track {background: #FFFFFF;-webkit-box-shadow: inset 1px 1px 2px #E0E0E0;border: 1px solid #D8D8D8;}
::-webkit-scrollbar-thumb {background: #303030;-webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);}
::-webkit-scrollbar-thumb:hover {-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}






  .white {
  font: normal 14px sans-serif;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#FEFEFE));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #FEFEFE, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #FEFEFE 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #FEFEFE 100%);
  background-repeat: repeat-x;
  border : 1px solid #B9B9B9;
   min-height:400px;
 /* min-height:500px;*/
  }
  .vtable{
  margin-top:55px;
  }
  .vtable tr td{
    font:normal 18px 'Play-Regular';
  }











  .modal{
    font-family: 'Play-Regular';
  }


.title-header {margin:-19px -19px 19px -19px; padding:14px 19px;
  font-weight: bold;background-color:#DDDDDD;border-bottom:1px solid rgba(0,0,0,0.1); }



 table tr th {background-color: #DDDDDD;}








  .price {
  font: bold 72px 'Play-Bold';
  line-height: 62px;
  width:500px;
  text-align: right;
  color:#317491;
  text-shadow:0 -5px #0B1A20;
  margin-top:-10px;
  text-shadow:2px 2px rgba(255,255,255,0.5);
cursor:pointer;


color:rgba(0,0,0,0.8);
  text-shadow:1px 3px rgba(255,255,255,0.8);

  }
.price:hover {
color:#255E76;
}
  /*input:focus {
outline:0 !important;
box-shadow:none !important;
border-color:#CCCCCC !important;
}  */

  .min6{
  min-height:600px;
  }

   .min3 {
  min-height:300px;
  }

  .vtop{
  vertical-align:top;
  }

  .deleting {
  background-image:none !important;
  background-color:rgba(255,230,230,0.8);
  }



    span.spone {width:128px;height:128px;background:url("img/dz.png") ;/*margin:0 0 -5px 2px*/}
.iconsmenu {width:32px;height:32px;margin : -6px ;}




.flat {
border-radius:0px !important;
}






#null{display:none;}















.wait {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;

}

.wait h4 {
display:inline;
font-size:18px;
color:white;
margin :-20px 20px -20px -20px;
padding:20px;
background-color:rgba(0,0,0,0.2);

}


.wait > li:first-child h4{
border-radius:5px 0 0 0 ;
}
.wait li:last-child h4{
border-radius:0 0 0 5px  ;
}


.wait > li {
  display:block;
  /*background-color: #F6F7F8;*/
  padding:20px;
  box-shadow: inset 0 1px 0 #fff;
  /*height:60px;*/
  /*border:1px solid #DEE0E3;*/
  margin-bottom:0px;
  font-weight:bold;
animation-duration:2s;
 border:1px solid #EEEEEE;

  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#EEEEEE));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #EEEEEE, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #EEEEEE 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom : 1px solid #B9B9B9;
  }

  .wait > li.green {
  color: white;
 /* background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
  background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);*/
  background-image: linear-gradient(to bottom, #5ACE04 0%,#4FB304 50%,#377E03 51%, #234F02 100%);
  background-repeat: repeat-x;
  border-color: #419641;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
text-shadow: 0 1px 0 #004000;
  }



  .tempo {
  margin-left:10px;
  color:red;
  }



.wait > li:last-child {
  border-bottom:1px solid #DEE0E3;
border-radius: 0 0 5px 5px;
}
.wait > li:first-child {
border-radius:5px 5px 0 0 ;
}

.wait h3 {
  font: bold 16px arial;display:inline;
  margin:-10px -10px 0 -10px;
  padding:5px;
}

.wait > li:hover {
/*background-color: #EFFFBF;*/
}
.wait > .avatar {
  max-width: 150px;
}
.wait span.green {
color:lime;
}
.wait span.red {
color:red;
/*width:80px;*/
}









.list {
  font-family:sans-serif;
  margin:0;
  padding:10px 0 0;
}
.list > li {
  display:block;
  background-color: #F6F7F8;
  padding:10px;padding-bottom:3px;
  box-shadow: inset 0 1px 0 #fff;

  border-radius: 2px 2px 0 0;
  border:1px solid #DEE0E3;
  margin-bottom:3px;
  border-bottom:1px solid #C3C4C6;
  cursor:pointer;
}
.list h3 {
display:inline;
font:bold 14px arial;
  padding:8px;
width :350px;
}


.list > li:hover {
background-color: #EFFFBF;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}

.list span , .list a  {
  margin-right:10px;
text-decoration:none;
color:#0A0A0A;
text-shadow:0 2px rgba(255,255,255,0.9);
}
.list a.green {
color:lime;
}
.list a.red {
color:red;
}
span .age {
  color:#949494;
  }

  span.birthday {
  display:none;
  }


table.big {
font-size:16px;
}





#moreinfo{
width:90%;
position:absolute;
display:block;
min-width:360px;
height:250px;
background-color:white;
z-index:9999;
 border:1px solid #EBEBEB;
display:none;
 }



.clockpoint {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;

}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: none;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: none;
}
}

@-webkit-keyframes mymove-inv {
    0% {opacity: 0;
    text-shadow: none;
}

50% {
    opacity: 1.0;
    text-shadow: none;

}

100% {
    opacity: 0;
    text-shadow: none;
}
}






.suggestionsBox {
width:100%; position: absolute;
display:block;
cursor:pointer;
min-width:360px;
 border-bottom: none;
 color: #000000; padding:0px;
 padding-top: -5px;
 margin: 0px;
 padding-right: 30px;
z-index:9999999;

}

 .suggestionList {
 margin: 0 auto;
 padding: 0px;
display:block;
z-index:999999999;
 }

 .suggestionList li {
 margin: 0px 0px 0px 0px;
 padding:8px 15px;
 list-style-type: none;
 font:normal 15px 'Roboto';
 border:1px solid #C3C3C3;
 border-top:none;
background-color:#E6E6E6;
font-weight:bold;
color:#333333;
text-shadow: 0px 1px rgba(255,255,255,0.5);
    overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
 }


 .suggestionList li:hover , .suggestionList li.active{
background-color:#AEAEAE;
  color: #222222;
 }
  .suggestionList li:last-child {
 border-radius: 0 0 2px 2px;
 }

li span {
opacity:0.7;
 }
 .suggestionList li span.pr {color:blue;float:right;}
 b.red {color:#B6120A;}
 b.green {color:#517504;}


a.navbar-brand{
 color:#EBB439 ;}
.notification{
  width:auto;color:orange;padding: 0 4px;border-radius:4px;
display:none;}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media print {
     @page {width:21cm;padding:5cm;}
}
.reflectBelow	{
-webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent), to(rgba(255, 255, 255, 0.14)));
}










.closespan {
position: absolute;
right:5px;top:5px;
font : bold 18px arial ;
cursor:pointer;
}




.rp {
  background-color:#00FF40;
  background-color:#F2F2F2;
}

.upper {
      text-transform: uppercase;
}
.bold {
  font-weight: bold;
}



.form-control:focus {
  border-color: #4A4A4A;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.btn-blue ,.btn-blue:hover {background-color:#1717FF;border-color:#1717FF;color:#fff; }
.btn-orange,.btn-orange:hover {background-color:orange;border-color:orange;color:#fff; }

















ul.swiftmenu {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;padding-left: 15px;
  list-style: none;
  position: fixed;top:0;left:0;right:0;
 background-color: #E1F5FE;
border-bottom:1px solid #B3E5FC;

 background-color: #F5F5F5;
border-bottom:1px solid rgba(0,0,0,0.1);



z-index: 99999999;
box-shadow: 0 1px 2px -2px rgba(0,0,0,0.1);
}
ul.swiftmenu li {
  font: normal 13px Roboto;
  display: inline-block;
  position: relative;
  padding: 4px 18px;
  background: transparent;
  cursor: pointer;
transition:opacity 0.5s linear;
}
ul.swiftmenu li.right {float:right;}
ul.swiftmenu li:hover {
    background: #E0E0E0;

}
ul.swiftmenu li ul {
  padding: 0;
  position: absolute;
  top: 24px;
  left: 0;margin:0;
  width:auto;
  min-width: 300px;

background: #F5F5F5;
border:1px solid #E0E0E0;

  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;


}
ul.swiftmenu li.right ul {
  left: -250px;margin:0;
  }

ul.swiftmenu li ul li {
  display: block;
  color: #333;
  padding: 0px;
  border:1px solid transparent;
}
ul.swiftmenu li ul li.divider{

  border-top: 1px solid rgba(255,255,255,0.6);border-bottom: 1px solid rgba(0,0,0,0.1);
  height:0;margin:0;padding:0;
  margin-bottom: -1px;

}
ul.swiftmenu li ul li a,ul.swiftmenu li ul li a:hover {text-decoration: none;
  color: #333;}
ul.swiftmenu li ul li a i {padding-right: 18px;padding-left: 8px;width:12px;}
ul.swiftmenu li ul li:hover { background: #B3E5FC; border:1px solid #B3E5FC;}
ul.swiftmenu li ul li.divider:hover {background: transparent;border:1px solid transparent;}

ul.swiftmenu li:hover ul,ul.swiftmenu li:focus ul {
  display: block;
  opacity: 1;
  visibility: visible;
transition:  transform 1s;
}

.swiftmenu li ul li a {padding:8px;display:block;}





.navbar {min-height:24px;z-index: 10001}
.navbar-nav > li > a {
    padding-top:  3px;
    padding-bottom:  3px;
}

.navbar-brand {padding: 3px 5px; }

.dropdown-menu {min-width: 250px;}


@media print {
.swiftmenu {display:none!important;}
}








.btable {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
  *border-collapse:collapsed;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
     -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
          box-shadow:0 0 4px rgba(0,0,0,0.10);
  }
  .btable th,
  .btable td {
    padding:8px;
    line-height:18px;
    text-align:left;
    border-top:1px solid #ddd;
    }
  .btable th {
    background:#eee;
    background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
    background:-moz-linear-gradient(top, #f6f6f6, #eee);
    text-shadow:0 1px 0 #fff;
    font-weight:bold;
    vertical-align:bottom;
    }
  .btable td {
    vertical-align:top;
    }
  .btable thead:first-child tr th,
  .btable thead:first-child tr td {
    border-top:0;
    }
  .btable tbody + tbody {
    border-top:2px solid #ddd;
    }
  .btable th + th,
  .btable td + td,
  .btable th + td,
  .btable td + th {
    border-left:1px solid #ddd;
    }
  .btable thead:first-child tr:first-child th,
  .btable tbody:first-child tr:first-child th,
  .btable tbody:first-child tr:first-child td {
    border-top:0;
    }

/*.btablesort specific styling*/
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
.btable th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
.btable th.sort-header:hover:after {
  visibility:visible;
  }
.btable th.sort-up:after,
.btable th.sort-down:after,
.btable th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
.btable th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }
