body {
margin :0;
padding:0;
font-family: "Open Sans", "Helvetica Neue", Helvetica;
width:8cm;
}
#field {
/*width : 960px;*/
}
table {
width:100%;
border-width:1px;
font-size:14px;
 border-spacing: 0;
    border-collapse: collapse;

}
tr {
width:100%;
}
td,tr {
border:1px solid black;
font: normal 12px Arial;


}
.txt {
font: Bold 14px 'Open Sans';
}
