@font-face {
  font-family: 'digital-7';
  font-style: Normal;
  font-weight: 400;
  src: local('digital-7'), url('digital-7.ttf') format('truetype');
}


body{
		background-color: #1E1E1E!important;
background-color:#242424;
padding:0;
}
.jumbotrontop{
background-image: none;
background-color:#171717;
 	border:none;
 	padding-top:25px;
border-bottom: 1px solid rgba(0,0,0,0.1);
}


.white, .jumbotronmid{
	background-image: none;
	background-color: #242424 ;
	/*border:1px solid #020202;*/
	border-top: 1px solid rgba(255,255,255,0.1);

	color:#EEEEEE;
	text-shadow:1px 1px rgba(0,0,0,0.5);
	border-bottom: none;
}

.jumbotronmid .table tr td {
	color:#2979FF;
}

.table tr.active th {
	/*background-image: none;
	background-color: transparent !important;
	color: #C6FF00 ;*/
background: linear-gradient(top, #6993e5 0%,#3254b5 50%,#193ea9 51%,#011576 100%);
background: -webkit-linear-gradient(top, #6993e5 0%,#3254b5 50%,#193ea9 51%,#011576 100%);
background: -o-linear-gradient(top, #6993e5 0%,#3254b5 50%,#193ea9 51%,#011576 100%);
border-color: #193ea9;
color:#FFF;
text-shadow:none;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  
  border-color:#193ea9;
}

.table tbody + tbody {
  border-top: 2px solid #193ea9;
}



.price ,.price:hover{
	font-family: 'digital-7';
	font-size: 92px;
color:#2979FF;
	text-shadow: -1px 1px 2px #4979F8, 1px -1px 2px rgba(73,121,248,0.5);
}
.info {
color:#2979FF;
}
.error{
color:#FF0000;
	text-shadow: -1px 1px 2px #FF2626, 1px -1px 2px rgba(255,38,38,0.5);
}


.infobar.red{
border:1px solid #6FFF6F;
background-color:#2979FF;
text-shadow:1px 1px rgba(213,255,170,0.8);
}




 .suggestionList li {
 	 border:1px solid #2979FF;
 border-top:none;
background-color:#121212;
color:#C3C3C3;
text-shadow: 0px 1px rgba(0,0,0,0.5);
}

.btn-default {background:#2979FF;color:#000;}


 .suggestionList li:hover , .suggestionList li.active{ 
background-color:#2979FF;
  color: #010101;
 } 
 .suggestionList li:hover span.pr , .suggestionList li.active span.pr{ 
color:#222222;
 }
 .suggestionList li span.pr {color:#2979FF;float:right;}
 .suggestionList li:hover span.pr {color:#010101;}

.form-control::-webkit-input-placeholder {
  color: #003895;
}
.form-control {
	background-color:#0D0D0D;
	border:1px solid #2979FF;
	color:#2979FF;

}


h0.lime {background-color: #2979FF;}

.form-control:focus {
  border-color: #2979FF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,65,149, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,65,149, 0.6);
}



.navbar-inverse .navbar-brand {
  color: #2979FF !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #2979FF;
}


tr.success {
background-color:#EEEEEE !important;
color:black;
border:1px solid white;
  box-shadow: 0 0 5px 2px rgba(255,255,255,.35);
}

tr.success td{ 
background-color:Transparent !important;
color:black !important;
}

.infobar.error{
background-color:red;
border:1px solid red;

}