@font-face {
  font-family: 'digital-7';
  font-style: Normal;
  font-weight: 400;
  src: local('digital-7'), url('../assets/fonts/digital-7.ttf') format('truetype');
}


html {max-width:100% !important;overflow-x: hidden;}

.btn-success {
  background-color: #76FF03;color:#fff;
  border-color: #76FF03;
}

.btn-success:hover ,.btn-success:focus {
  background-color: #76FF03;
  border-color: #76FF03;color:#eee;
}




img.picnav {width:200px;height: auto;max-height: 300px;
  position: fixed;bottom:50px;left:0px;
border: 1px solid black;
}
img.picnav[src=""] {display: none;}


.comptoirtopnav {
	display:block;
  background-color: #272822;
  margin: 0;
  color: #76FF03;
}



.comptoirtopnavInfos {
  height: 40px;
  padding: 0 10px;
  background-color: #272822;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  color: #76FF03;
  font-size: 18px;
  line-height: 40px;
  font-family: 'Roboto';
  max-width: 100%;overflow:hidden;
}


.comptoirtopnavInfos.error , .comptoirtopnav.error , .comptoirPrix.error, .comptoirPrix.error {
color:#F44336;
}




.errorscript a {color:red!important;}


.comptoirtopnavmainbar {
  height: 100px;
  padding: 15px;
  background-color: #272822;
  color: #76FF03;
  border-top: 1px solid rgba(255,255,255,0.1);
  max-width: 100%;
}


.comptoirtopnavmainbar hr {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(0,0,0,0.5);
  margin: 5px -15px 0;
}

.comptoirPrix,.comptoirmoney {
  float: right;
  padding-right: 0px;
  font: normal 74px 'digital-7';
  line-height: 58px;
  color:#76FF03;
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1%, transparent), to(rgba(255, 255, 255, 0.14)));
}

.comptoirmoney {color:#76FF03;}
.comptoirPrix.small ,.comptoirmoney.small{
  float: none;
  font: normal 44px 'digital-7';
  line-height: 58px;
  display: block;
-webkit-box-reflect:none;
text-align: center;
}



.rfid {
  font: normal 32px 'digital-7';
  line-height: 48px;
  color:#F4FF81;
}



.form-control {
  border-color: #76FF03;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.3);
  color: #76FF03;
  font-family: 'Roboto';
  font-size: 14px;
    height: 28px;
  padding: 2px 12px;
}


.form-control::-webkit-input-placeholder  {color: rgba(118,255,3, .4);}
.form-control:focus::-webkit-input-placeholder  {color: rgba(0,0,0, .4);}
.form-control:focus {
  border-color: #64DD17;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(118,255,3, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(118,255,3, .6);
background-color: #F9FBE7;color:#111;
}


.comptoirPrix.working {
  color:#64DD17 ;
}

.form-control:disabled {
  border-color:#64DD17;
background-color: Transparent;
}

.form-control:disabled::-webkit-input-placeholder {
  color:#333;
}

.table tr.active th {
  /*background: -webkit-linear-gradient(top, #CFFF2B 0%,#B6EA00 50%,#A8D900 51%,#91BB00 100%);*/
  background: -webkit-linear-gradient(top, #CCFF90 0%,#B2FF59 50%,#76FF03 51%,#64DD17 100%);
  /*background: -webkit-linear-gradient(top, #039BE5 0%,#0288D1 50%,#0277BD 51%,#64DD17 100%);*/
  border-color: #64DD17;
  color: #000;
  text-shadow: none;
  font: Bold 12px  'Roboto';
text-align: center;
}


.table tbody tr {background: transparent;}
.table tbody tr td {background: transparent;}


.table tbody tr td {
   font: normal 16px  'Roboto';
}

.vtable tbody tr td {
padding:7px 10px;
background-color: #fff;
}

.vtable {
  -webkit-user-select: none;
margin:0;
}

.vtable tbody tr.current td {
background-color: #B2FF59 ;
background-color: #18FFFF ;
border-color: #18FFFF ;

color:#111;
font-weight: 700;
}


.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border-color: #76FF03;
}

.table tbody+tbody {
    border-top: 1px solid #76FF03;
}

tr.current.wp td , tr.wp td  {
background-color: #FFCDD2 !important; color:#111 !important;
}
tr.current.wps td , tr.wps td  {
background-color: #FFECB3 !important; color:#111 !important;
}

.vtable tr td {
	cursor:pointer;
}



.bottomcontrol {
position:fixed;
bottom:0;left:0;right:0;
height:50px;
background-color:#272822;padding:0;
color:#18FFFF;
}

.bottomcontrol .elem {
  padding:0 10px;float:left;
  font-size: 32px;line-height: 50px;
min-width:50px;width:auto;text-align: center;
display: inline-block;
border-right:1px solid rgba(255,255,255,0.1);
border-left:1px solid rgba(0,0,0,0.5);
}

.bottomcontrol .elem , .bottomcontrol .elem a {
  color:#18FFFF;
  cursor: pointer;
text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}


 .bottomcontrol .elem a.disabled , .bottomcontrol .elem a.working {
  color:#1C1D18;
text-shadow: 0px 0px 3px #FFC107;
}

.bottomcontrol .elem.green {
  color:#76FF03;min-width: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

.bottomcontrol .elem.danger {
color:#000 !important;
background:red;
}


.elem.prodname {
  max-width: 1000px;width: 800px;overflow: hidden;
}

.bottomcontrol .elem.clock {
  font-family: 'digital-7';
  font-size: 50px;
  width:150px;
}

.bottomcontrol .elem.text {
  font-size: 18px; line-height: 25px;
  text-align: left;
  min-width:250px;
}





















.suggestionsBox {
width:100%;
position: absolute;
display:block;
cursor:pointer;
 border: none;
  padding:0px;
 padding-top: 0px;
 margin: 0px;
 padding-right: 30px;
z-index:999999;
}

 .suggestionList {
 margin: 0 auto;
 padding: 0px;
display:block;
z-index:9999999;
 }

 .suggestionList li {
 margin: 0px 0px 0px 0px;
 padding:8px 15px;
 list-style-type: none;
 font:normal 15px 'Roboto';
background-color:#F9FBE7;

font-weight:bold;
color:#333;
text-shadow: 0px 1px rgba(0,0,0,0.1);
    overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
border-top:1px solid #F0F4C3;
border-bottom:1px solid rgba(0,0,0,0.05);

text-transform: uppercase;
 }


 .suggestionList li:hover , .suggestionList li.active {
background-color:#76FF03;
  color: #111;
 }





li span {
opacity:0.7;
 }

 .suggestionList li span.pr {color:#333;float:right;}

















.dragscroll {overflow-y: hidden;}

.tablediv ,.divtouch {overflow: hidden;}
.divtouch {
  /*border: 1px solid red;*/
  padding-left: 0;position: relative;
  -webkit-user-select:none;
}

.divtouch .fams {

  background-color: #E1F5FE;
  float:left;width:30%;margin:0;padding: 0;
}

.divtouch .fams .box {height:1.5cm;padding: 0 5px;font-size: 12px;font-weight: bold;
background-color: #B3E5FC;display: block;margin:0 1px;line-height: 1.5cm;
border: 1px solid ;cursor:pointer;
border-color: #E1F5FE #E1F5FE #81D4FA  #81D4FA  ;
}

.divtouch .fams .box:hover , .divtouch .fams .box:active {background-color: #81D4FA}


.divtouch .btns {
  /*border: 1px solid red;*/
  float:left;width:70%;
  padding:1px;
  background: #F9FBE7;
}


.cmbtn {
  float:left;
      width: 50%;
      height:3cm;
      min-width: 2.5cm;
      cursor:pointer;
  background-color: #76FF03;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-grow: 3;
    order: 2;
    display: flex;
    justify-content: center;
    border:1px solid;
    border-color: #B2FF59 #B2FF59 #64DD17 #64DD17 ;
    position:relative;
}





.cmbtn pr {
  position: absolute;bottom:2px;right:2px;
  font-size: 11px;
}

.cmbtn:hover , .cmbtn:active {
  background-color: #64DD17;
}

.cmbtn.withImg {border-color:#fff;}

.cmbtn.withImg prod {position: absolute;background: rgba(0,0,0,0.9);color:#fff;top:0;left:0}
.cmbtn.withImg pr {position: absolute;background: rgba(0,0,0,0.9);color:#fff}
.cmbtn.withImg:active {
-webkit-filter: grayscale(100%);
}


/*
.btns .cmbtn:nth-child(1) {background-color: #FFCDD2;}
.btns .cmbtn:nth-child(2) {background-color: #C8E6C9;}
.btns .cmbtn:nth-child(1) {background-color: #FFCCBC;}
.btns .cmbtn:nth-child(1) {background-color: #E1BEE7;}
.btns .cmbtn:nth-child(1) {background-color: #FFF9C4;}
.btns .cmbtn:nth-child(1) {background-color: #D7CCC8;}
.btns .cmbtn:nth-child(1) {background-color: #F8BBD0;}
.btns .cmbtn:nth-child(1) {background-color: #DCEDC8;}
.btns .cmbtn:nth-child(1) {background-color: #D1C4E9;}
*/
.rotateLogo {
-webkit-animation: spiny 50s infinite linear;
}


@-webkit-keyframes spiny {
  0% { -webkit-transform: rotateY(360deg); }
  5% {  -webkit-transform : rotateY(0deg); }
}








.tactile {
  padding: 0px;margin:0 ;
  font-family: 'Roboto';
  padding-right:0;
  user-select: none;-webkit-user-select: none;
overflow-y:auto;
background-color: #272822;
}



.tactile .boxes {
padding-right:0px;margin:0 auto;width:auto;
display: flex; flex-direction: row;
flex-wrap: wrap;
}
.tactile .box {
  background-color: #76FF03;color:#111;min-width:1.5cm;height:1.5cm;margin:1px;cursor:pointer;
  align-items: center;font-size: 12px;font-weight: 700;float:left;
  border-bottom:1px solid #64DD17;
  border-left:1px solid #64DD17;
  border-right:1px solid #B2FF59;
  border-top:1px solid #B2FF59;

  width: 2.2cm;  /* Or whatever */
    height: 2cm; /* Or whatever */
    margin: auto;
  flex-grow:7;order: 10;
      position: relative;

      align-items: center;
        text-align: center;
        margin: auto;
          flex-grow:3;order: 2;

}

/*.tactile .box  pro {height:1.8cm;display:block;text-align: center;font-family: 'Roboto';text-transform: uppercase;display:flex;justify-content: center;align-items: center;}*/
.tactile .box  pro  {font-size: 12px;}
.tactile .box  pro i {font-size: 40px;}
.tactile .box  pri {position:absolute;bottom:0;left:0;padding:2px 10px;width:100%;}
.tactile .box:active  {background-color: #89B000;}

.tactile .box.return {
  background-color: #18FFFF;
}

 ul.fams {
  display:block;list-style: none;width:100%;padding:0;
  display: flex; flex-direction: row;
  flex-wrap: wrap;
}

ul.fams li {
background-color: #18FFFF;min-width:2cm;height:2.4cm;margin:1px;cursor:pointer;
text-align: center;float:left;display:flex;justify-content: center;
align-items: center;font-size: 12px;font-weight: 700;
border-bottom:1px solid rgba(0,0,0,0.1);
border-left:1px solid rgba(0,0,0,0.1);
border-right:1px solid rgba(255,255,255,0.2);
border-top:1px solid rgba(255,255,255,0.2);


width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  align-items: center;
   text-align: center;
   margin: auto;
     flex-grow:3;order: 2;
}





/*
.tactile .pannel{float:right;height:100%;background-color:#272822;width:22%;margin:0;padding:0;overflow-y:auto;font-size: 12px;}

.tactile .pannel ul {list-style: none;display: block;margin:0;padding:0;}
.tactile .pannel ul li {display:block;padding:4px;height:48px;line-height: 40px;font-size: 18px;font-weight: 700;overflow: hidden;
  background-color:black;color:#18FFFF;border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(0,0,0,0.5);cursor:pointer;}

.tactile .catlist {height:100%;width:78%;display:block;float:left;padding:0;margin:0px;cursor:pointer ;overflow-y:auto;background-color: #11110F;}
.tactile .catlist .box {background-color: #11110F;color:#eee;height:48px;display:block;margin:0;padding:5px 15px 5px 5px;overflow:hidden;border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(0,0,0,0.5);}
.tactile .catlist .box:hover {background-color: #000;color:#fff;display:block;margin:0;padding:5px 15px 5px 5px;overflow:hidden;border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(0,0,0,0.5);}
.tactile .catlist .box:active {background-color: #C2FA08;}
.tactile .catlist .box pro {font-size:18px;line-height:38px;float:left;display:-inline-block;overflow: hidden;max-width:70%}
.tactile .catlist .box pri {font-size:18px;line-height:38px;float: right;text-align:right;color:#CBFE1E;display:inline-block;float:right;max-width:20%}




.tactile .catlist::-webkit-scrollbar-track , .tactile .pannel::-webkit-scrollbar-track {border-radius: 0px; background: #11110F;box-shadow: none;borrder:none;}
.tactile .catlist::-webkit-scrollbar , .tactile .pannel::-webkit-scrollbar{height: 10px;width: 8px;background: #11110F;box-shadow: none;borrder:none;}
.tactile .catlist::-webkit-scrollbar-thumb , .tactile .pannel::-webkit-scrollbar-thumb{border-radius: 0px;background: #CBFE1E;box-shadow: none;borrder:none;}

*/



.logofield {
  -webkit-animation-name: bganimation;
     -webkit-animation-duration: 20s;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-play-state: running;
}

@-webkit-keyframes bganimation {
    0%     {background-color:#B71C1C;}
    15%     {background-color:#880E4F;}
    30%     {background-color:#4A148C;}
    45%     {background-color:#311B92;}
    60%     {background-color:#1A237E;}
    75%     {background-color:#0D47A1;}
    79%     {background-color:#B71C1C;}

}



.modal {
  font-family: 'Roboto';
color:#76FF03;
}


.modal-content {
  background-color: #272822;
}

.modal-title {color:#76FF03;}
.modal-footer ,.modal-body {border-top: 1px solid rgba(198,255,0,0.1);margin:0}
.modal-header ,.modal-body  {border-bottom: 1px solid #000;;}

.modal-backdrop
{
    opacity:0.8 !important;
}
