@page{padding: 0!important;margin:0}
body{margin:0 auto;padding:0!important;}  
.tdqt{width:8mm;}
.third {width:2cm;text-align:right!important; padding-right:1cm;} 
hr {border:margin:5px 0} 
td.tot {border-top:1pt dotted black;padding-top:5mm;};
@font-face {font-family: "receipt";font-style: Normal;font-weight: 400;src: local("receipt"), url("comptoir/receipt.ttf") format("truetype");}
 *{text-transform:uppercase;font-family:"receipt";font-size:12px;}';
h1{text-align:center;border:1px solid black;padding:5px;margin:10px;font-size:25px} ';

@page,body,html{padding-top:0!important} table {margin:0 auto !important;width:100%!important ;} </style>';
 