

body {background: #fff;}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  color: #FF1744;
}


#dialogR {

position:fixed;
top:164px;
width:60%;height:400px;
left:20%;
right:20%;
background: #282C34;
  color: #FF1744;
z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    text-align: center;
}



.table tr th {
/*  background: linear-gradient(top, #CFFF2B 0%,#C0F900 50%,#ADDF00 51%,#9ECC00 100%);*/
  background-image:none;
  background-color:#F5F5F5;
  border-color: none;
  color: #000;
  text-shadow: none;
  font: Bold 16px  'Roboto';
text-align: center;
}



.form-control {
  border-color: #18FFFF;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.3);
  color: #18FFFF;
  font-family: 'Roboto';
  font-size: 14px;
    height: 28px;
  padding: 2px 12px;
}

.form-control::-webkit-input-placeholder  {color: rgba(24,255,255, .5);}
.form-control:focus::-webkit-input-placeholder  {color: rgba(24,255,255, .5);}
.form-control:focus {
  border-color: #18FFFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(24,255,255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(24,255,255, .6);
background-color: #EAFFFF;color:#111;
}
