@font-face {
  font-family: 'digital-7';
  font-style: Normal;
  font-weight: 400;
  src: local('digital-7'), url('digital-7.ttf') format('truetype');
}


body{
		background-color: #1E1E1E!important;
background-color:#242424;
}
.jumbotrontop{
background-image: none;
background-color:#171717;
 	border:1px solid #020202;
 	padding-top:25px;

}


.white, .jumbotronmid{
	background-image: none;
	background-color: #242424 ;
	border:1px solid #020202;
	color:#EEEEEE;
	text-shadow:1px 1px rgba(0,0,0,0.5);
	border-bottom: none;
}

.jumbotronmid .table tr td {
	color:#80FF00;
}

.jumbotronmid .table tr th,.jumbotronmid .table tr.active td {
	background-image: none;
	background-color: transparent !important;
	color: #80FF00 ;
}

.price ,.price:hover{
	font-family: 'digital-7';
	font-size: 92px;
color:#80FF00;
	text-shadow: -1px 1px 2px #00E100, 1px -1px 2px rgba(36,72,0,0.5);
}
.info {
color:#80FF00;
}
.error{
color:#FF0000;
	text-shadow: -1px 1px 2px #FF2626, 1px -1px 2px rgba(255,38,38,0.5);
}


.infobar.red{
border:1px solid #6FFF6F;
background-color:#80FF00;
text-shadow:1px 1px rgba(213,255,170,0.8);
}




 .suggestionList li {
 	 border:1px solid #20FF20;
 border-top:none;
background-color:#121212;
color:#C3C3C3;
text-shadow: 0px 1px rgba(0,0,0,0.5);

}



 .suggestionList li:hover , .suggestionList li.active{ 
background-color:#80FF00;
  color: #010101;
 } 
 .suggestionList li:hover span.pr , .suggestionList li.active span.pr{ 
color:#222222;
 }
 .suggestionList li span.pr {color:#80FF00;float:right;}
 .suggestionList li:hover span.pr {color:#010101;}

.form-control::-webkit-input-placeholder {
  color: #376F00;
}
.form-control {
	background-color:#0D0D0D;
	border:1px solid #80FF00;
	color:#80FF00;

}

.form-control:focus {
  border-color: #80FF00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128,255,0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128,255,0, 0.6);
}



.navbar-inverse .navbar-brand {
  color: #80FF00 !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #80FF00;
}


tr.success {
background-color:#EEEEEE !important;
color:black;
border:1px solid white;
  box-shadow: 0 0 5px 2px rgba(255,255,255,.35);
}

tr.success td{ 
background-color:Transparent !important;
color:black !important;
}

.infobar.error{
background-color:red;
border:1px solid red;

}