@font-face{font-family:'klavika_rgregular';
src:url("../fonts/klavika-regular-webfont.eot");
src:url("../fonts/klavika-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../assets/klavika-regular-webfont.woff") format("woff"),url("../assets/klavika-regular-webfont.ttf") format("truetype"),url("../assets/klavika-regular-webfont.svg#klavika_rgregular") format("svg")}@font-face{font-family:'klavikalight';
src:url("../fonts/klavika-regular-webfont.eot");
src:url("../fonts/klavika-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../assets/klavika-light-webfont.woff") format("woff"),url("../assets/klavika-light-webfont.ttf") format("truetype"),url("../assets/klavika-light-webfont.svg#klavikalight") format("svg")}@media screen and (-webkit-min-device-pixel-ratio: 0){@font-face{font-family:'klavika_rgregular';
src:url("../fonts/klavika-regular-webfont.svg") format("svg")
}




@font-face {
  font-family: 'Play-Regular';
  font-style: Normal;
  font-weight: 400;
  src: local('Play-Regular'), url('../fonts/Play-Regular.ttf') format('truetype');
}

body {
	/*font-family: 'Play-Regular';*/
}
.height-fix {
border:none;}
body {padding-right:50px }
.fixed-menu {
	position:fixed;
	left:0;top:0;height:100%;
	width:100px;padding: 0;padding-top:25px;
	background-color: #111;color:#fefefe;
	z-index: 10000;
}

ul.group {
	z-index: 150;
	list-style: none;
	padding: 0;margin: 0;
}

ul.group li {
	padding: 10px;
	text-align: center;
	font-size: 42px;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	border-top: 1px solid rgba(255,255,255,0.1);
}
ul.group li a {
	color:#3E3E3E;text-decoration: none;
}

ul.group li.active a {
	color:#fff;
}



 ul.group li.rose{	border-left: 3px solid red;}
 ul.group li.black{	border-left: 3px solid red;}
 ul.group li.green{	border-left: 3px solid red;}








ul.group li.active {
	background-color: #FF1744;
	border-bottom: 1px solid #FF1744;
	border-top: 1px solid #FF1744;
}
ul.group li.active a{
	color: #fff;
}



.section {display:block;padding:35px 30px 30px 120px;height:100vh}


.element {
/*	display:block;border: 1px solid rgba(0,0,0,0.1);
	padding:10px;margin:15px 0;
	background-color: #fff;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);


  */
  height:180px;text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
  height:30vh;

}

.element.halfheight {height:120px;padding:5px;  height:20vh;}
.cristal {width:64px;height:auto;margin-top:10px;}
a,a:hover,a:focus,a h3 ,a h3:hover,a h3:focus,h3 {text-decoration: none;color:#333;border: none;}
a img ,a img:hover,a img:focus{border:none;text-decoration: none;}
.a-64 {font-size: 64px;line-height:88px;}
.a-48 {font-size: 48px;line-height:64px;}
.a-32 {font-size: 28px;line-height:48px;}





/*.element {background-color: #EEFF41;border-color: #EEFF41}*/

















.fixed-menu {
	position:fixed;
	left:0;top:26px;height:100%;
	width:50px;padding: 0;padding-top:0px;
	background-color: #0277BD;color:#fefefe;
	z-index: 10000;
}

ul.group {
	z-index: 150;
	list-style: none;
	padding: 0;margin: 0;
  border-top: 1px solid #0288D1;
  border-bottom: 1px solid #01579B;
}

ul.group li {
	padding: 10px;
	text-align: center;
	font-size: 24px;
	display: block;
  border-bottom: 1px solid #0288D1;
  border-top: 1px solid #01579B;
}







ul.group li a {
	color:#fff;text-decoration: none;
}


ul.group li.active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

ul.group li.active a{
	color: #01579B;
}
