



@page{
padding:1cm;margin:0;
/*size: landscape;*/
}

body {padding:1cm;}
* { font-family: serif ,Tahoma !important; }
* { font-size:12px;background-color: #fff} 


table {
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
}
th, td {
    border:solid #000 !important;
    border-width:0 1px 1px 0 !important;
}

.screen{display:none !important;}
tr[data-pid="0"] {display:none !important;}

.page-break  { display: block; break-before: always;page-break-before: always; }