@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}

* {outline:0;}

body {
  font-family: 'Roboto';
}

.logoField {
  position: fixed;left:0;right:0;top:0;bottom:0;
  background: #F3E5F5;
transition: all 0.8s cubic-bezier(0.440, -0.320, 0.635, 1.300);
}

.logoField.lastAnim {
  position: fixed;left:0;right:0;top:0;bottom:50vh;
  background: #CE93D8;
transition: all 0.8s ease;
}

.logoField .frequency {
  text-align: center;margin-top: 50vh;
  color:#111;
}


.logoField  .cont , .logoField .actContent{display: none;}

.logoField.small {
  background: #A11AFF;
  left:35vw;right:35vw;
  top:25vh;bottom:25vh;
  border-radius: 20vw;
  transition:all 0.5s cubic-bezier(0.155, -0.600, 1.000, 1.650);
}
.logoField.small .cont {display:block;font-size: 5vh;line-height: 50vh;color:#fff;text-align: center;}


.logoField.login {
  left:30vw;right:30vw;
  top:35vh;bottom:30vh;
  border-radius: 0vw;
  overflow: hidden;
  background:#272822;
  color:#fff;
}


.logoField.activate {
  left:30vw;right:30vw;
  top:30vh;bottom:30vh;
  border-radius: 0vw;
  overflow: hidden;
  background:#311B92;
  color:#EDE7F6;font-size: 16px;line-height: 4vh;
}
.logoField.error {
  background:#F44336;
}

.logoField.success {
  background:#CDDC39;
  color:#111;
}

.logoField.activate  .actContent {
display:block;margin:0;opacity: 0;
}
.logoField.activate .text {height:15vh;padding:2vh 1vw;}
.logoField.activate .text40 {line-height:40vh;padding:2vh 1vw;}
.form-control.ac ,button.ac  {background: transparent;border:1px solid #EDE7F6;margin: 0 auto;width:80%;color:#EDE7F6;margin-top:1vh;}
.form-control.log ,button.ac    {background: transparent;border:1px solid #EDE7F6;margin: 0 auto;width:80%;color:#EDE7F6;margin-top:3vh;}
.input-group.ac {margin: 0 auto;width:80%;margin-top:1vh;}
.input-group.ac .form-control {background: transparent;border:1px solid #EDE7F6;color:#EDE7F6;}
.form-control.ac:hover , .form-control.ac:focus  {background:#EDE7F6;outline: 0;color:#000}
