@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}



.setting-well {display:block;padding:10px;background-color: #fff;margin:0}
.well-350 {min-height:350px;width:500px;margin:20px auto;}
.well-200 {min-height:200px;width:500px;margin:20px auto;}
.well-auto {min-height:200px;width:500px;margin:20px auto;margin-top:150px;text-align:center;}

.setting-well .user{display:inline-block;width:150px;height:120px;background-color:#A4FF48;text-align:center;margin:5px ;font-weight: bold;cursor:pointer;text-transform: uppercase;}
.setting-well .user i {font-size:80px;line-height:95px;}

.setting-well .user[power='1'] {background-color:#FF9100;color:#111}
body {

padding-top : 25px;
background-color: #E4E4E4;
background-color: #E9EAED;


}



ul.swiftmenu {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;padding-left: 15px;
  list-style: none;
  position: fixed;top:0;left:0;right:0;
 background-color: #EEEEEE;
border-bottom:1px solid rgba(0,0,0,0.2);
z-index: 99999999;
box-shadow: 0 1px 2px -2px rgba(0,0,0,0.1);
}
ul.swiftmenu li {
  font: normal 12px sans-serif;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
transition:opacity 0.5s linear;
}
ul.swiftmenu li.right {float:right;}
ul.swiftmenu li:hover {
    background:rgba(0,0,0,0.1);
}
ul.swiftmenu li ul {
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;margin:0;
  width:auto;
  min-width: 300px;
border:1px solid rgba(0,0,0,0.2);
border-top:1px solid solid rgba(0,0,0,0.4);
background-color: #EEEEEE;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);

}
ul.swiftmenu li.right ul {
  left: -250px;margin:0;
  }

ul.swiftmenu li ul li {
  background: #EEEEEE;
  display: block;
  color: #333;
  padding: 0px;
  border:1px solid transparent;
}
ul.swiftmenu li ul li.divider{

  border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(255,255,255,0.3);
  height:0;margin:0;padding:0;
  margin-bottom: -1px;
}
ul.swiftmenu li ul li a,ul.swiftmenu li ul li a:hover {text-decoration: none;
  color: #333;}
ul.swiftmenu li ul li a i {padding-right: 18px;padding-left: 8px;width:12px;}
ul.swiftmenu li ul li:hover { background: #FF1744; border:1px solid #FF1744;}
ul.swiftmenu li ul li:hover a{ color:#ffffff;}
ul.swiftmenu li ul li.divider:hover {background: transparent;border:1px solid transparent;}

ul.swiftmenu li:hover ul,ul.swiftmenu li:focus ul {
  display: block;
  opacity: 1;
  visibility: visible;
transition:  transform 1s;
}

.swiftmenu li ul li a {padding:8px;display:block;}


@media print {
.swiftmenu {display:none!important;}
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {background: #FAFAFA}
.mdl-js-progress {position:fixed;top:0;left:0;right:0;width:100%;z-index: 9999;}
.mdl-js-spinner {position:fixed;bottom:20px;left:20px;z-index: 9999;}
.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}








.mdl-menu__item a {text-decoration: none;color:#545454}















*[class*='col-'] {
  float: left;
}


.demo-card-wide.mdl-card {
    width: 100%;
  }
  .demo-card-wide  > .mdl-card__title {
    color: #111;
    height: 176px;


  }

  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

.mdl-card__title-text{
  color:#fff;
  background-color: rgba(0,0,0,0.5);
}

.mdl-card__menu .mdl-button--icon {
  color:#000;
}


.demo-card-wide  > .b29 {background: url('../img/29.jpg') center / cover;}
.demo-card-wide  > .b69 {background: url('../img/69.jpg') center / cover;}
.demo-card-wide  > .b122 {background: url('../img/122.jpg') center / cover;}










.full-content {display: block;min-height:500px;height:calc(100% - 50px)}
.full-content.center {text-align: center}
.full-content hr {height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.5);}
img.biglogo {max-width: 80%;height:auto;margin-top:80px;}
