  @font-face {
  font-family: 'monaco';
  font-style: Bold;
  font-weight: 400;
  src: local('monaco'), url('monaco.ttf') format('truetype');
}

  @page  {
    margin: 0;
  }

  html,body {
    width:95% !important;
    padding:0 !important;
    margin :0 !important;
    height:auto;
    min-width:7.5cm !important;
    font-family: 'monaco',Sans-serif;
    background-color: #FFFFFF;
    border:1px solid #000;
  }
 
  table {width:100% !important;margin:0;padding:0;}
  td{font: normal 12px 'monaco';
  color:#000 ;
  line-height:12px;
  float:left;
  padding-left:5px;
  text-transform: uppercase;
}
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .tdqt{width:15%;}
  .tdprod{width:50%;}
  .tdprice{width:33%;text-align:left !important;}

h4,h5 {font-size: 12px;text-align: center;}