



@page{
padding:2cm;margin:0;
/*size: landscape;*/
}


* { font-family: serif ,Tahoma !important; }
* { font-size:12px;} 
.well,h4 {font-size:14px;background-color:#E2E2E2; }

  table { page-break-after:auto ;background: transparent; margin-top: 3cm;}
  table.first{margin-top: 0cm;}
  tr    { page-break-inside:avoid ; page-break-after:auto;}
  td    { page-break-inside:avoid ; page-break-after:auto;}
  thead { display:table-header-group ;}
  tr.pb {page-break-after: always;display:none;}

  	div.page
      {
        page-break-after: always;
        page-break-inside: avoid;
      }

div.screen{display:none !important;}
  span.label , .btns , .edition ,.navbar{display:none !important;}
  .row .col-md-4 {width:50% !important;float:left;}

